<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- style -->
    <link rel="stylesheet" href="/assets/css/reset.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <!-- script -->
    <script src="./assets/js/script.js"></script>
  </head>
  <body>
    <div class="main">
      <div class="header">
        <ul>
          <li class="tag1"><a href="">MockupCompany</a></li>
          <li class="tag2"><a href="">Home</a></li>
          <li class="tag2"><a href="">Product</a></li>
          <li class="tag2"><a href="">Solutions</a></li>
          <li class="tag2"><a href="">About</a></li>
          <li class="tag2"><a href="">Pricing</a></li>
        </ul>
        <div class="btn1">
          <a href="">
            <button style="color: black">Login</button>
          </a>
        </div>
        <div class="btn2">
          <a href="">
            <button>Get Stated</button>
          </a>
        </div>
      </div>
      <div class="hero">
        <h1 style="font-size: 46px; margin-left: 900px">Pricing</h1>
        <p style="margin-left: 730px">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
      <div
        class="btn"
        style="margin-left: 170; padding-top: 50px; padding-left: 850px"
      >
        <div class="btn3">
          <a href="">
            <button style="color: black">Get stated</button>
          </a>
        </div>
        <div class="btn4">
          <a href="">
            <button>Learn more</button>
          </a>
        </div>
      </div>
    </div>
    <div class="choose">
      <h1 style="font-size: 54px">Choose a plan that’s right for you</h1>
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolore
      </p>
    </div>

    <div class="value">
      <div class="basic">
        <h1>Basic</h1>
        <p>
          For individuals or teams just getting started with project management.
        </p>
        <h1>Free</h1>
        <div class="type1">
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
        </div>
        <div class="btn5" style="padding-left: 35px">
          <a href="">
            <button>Get Stated</button>
          </a>
        </div>
        <div class="type2">
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
        </div>
        <div class="item-list">
          <ul>
            <li class="lite">✔Lorem ipsum dolor sit.</li>
            <li>✔Lorem ipsum dolor sit.</li>
            <li>✔Lorem ipsum dolor sit.</li>
            <li>✔Lorem ipsum dolor sit.</li>
          </ul>
        </div>
      </div>
      <div class="premium">
        <h1 style="font-size: 35px">Premium</h1>
        <p>
          For teams and companies that need to manage work across initiatives.
        </p>
        <nav>
          <h1 style="font-size: 44px">$8/</h1>
          <p style="font-size: 18px">mo</p>
        </nav>
        <div class="type1">
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
        </div>
        <div class="btn5" style="padding-left: 35px">
          <a href="">
            <button>Get Stated</button>
          </a>
        </div>
        <div class="type2">
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
        </div>
        <div class="item-list">
          <ul>
            <li>✔Lorem ipsum dolor sit.</li>
            <li>✔Lorem ipsum dolor sit.</li>
            <li>✔Lorem ipsum dolor sit.</li>
            <li>✔Lorem ipsum dolor sit.</li>
            <li>✔Lorem ipsum dolor sit.</li>
            <li>✔Lorem ipsum dolor sit.</li>
          </ul>
        </div>
      </div>
      <div class="business">
        <h1 style="font-size: 35px">Business</h1>
        <p>
          For teams and companies that need to manage work across initiatives.
        </p>
        <nav>
          <h1 style="font-size: 44px">$16/</h1>
          <p style="font-size: 18px; margin-left: 20px">mo</p>
        </nav>
        <div class="type1">
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
        </div>
        <div class="btn5" style="padding-left: 35px">
          <a href="">
            <button style="margin-left: 10px">Get Stated</button>
          </a>
        </div>
        <div class="type2">
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
        </div>
        <div class="item-list">
          <ul>
            <li>✔Lorem ipsum dolor sit.</li>
            <li>✔Lorem ipsum dolor sit.</li>
            <li>✔Lorem ipsum dolor sit.</li>
            <li>✔Lorem ipsum dolor sit.</li>
            <li>✔Lorem ipsum dolor sit.</li>
            <li>✔Lorem ipsum dolor sit.</li>
            <li>✔Lorem ipsum dolor sit.</li>
          </ul>
        </div>
      </div>
      <div class="enterprise">
        <h1 style="font-size: 35px">Enterprise</h1>
        <p>
          For teams and companies that need to manage work across initiatives.
        </p>
        <h1 style="width: 200px; margin-left: 20px">Let's Talk</h1>
        <div class="type1">
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
        </div>
        <div class="btn5" style="padding-left: 35px">
          <a href="">
            <button style="margin-left: 10px">Get Stated</button>
          </a>
        </div>
        <div class="type2">
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
        </div>
        <div class="item-list">
          <ul>
            <li>✔Lorem ipsum dolor sit.</li>
            <li>✔Lorem ipsum dolor sit.</li>
            <li>✔Lorem ipsum dolor sit.</li>
            <li>✔Lorem ipsum dolor sit.</li>
            <li>✔Lorem ipsum dolor sit.</li>
            <li>✔Lorem ipsum dolor sit.</li>
            <li>✔Lorem ipsum dolor sit.</li>
            <li>✔Lorem ipsum dolor sit.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="plan">
      <h1 style="font-size: 45px">Compare our pricing plans</h1>
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolore
      </p>
      <div class="list">
        <div class="drake">
          <p style="font-size: 25px; padding-left: 20px">Features</p>
          <div class="item1">
            <ul style="padding-left: 10px">
              <li style="padding-top: 50px">Lorem ipsum</li>
              <li>Lorem ipsum</li>
              <li>Lorem ipsum</li>
              <li>Lorem ipsum</li>
              <li>Lorem ipsum</li>
              <li>Lorem ipsum</li>
              <li>Lorem ipsum</li>
              <li>Lorem ipsum</li>
              <li>Lorem ipsum</li>
              <li>Lorem ipsum</li>
              <li>Lorem ipsum</li>
            </ul>
          </div>
        </div>
        <div class="features">
          <p style="font-size: 25px; padding-left: 45px">Basic</p>
          <div class="item3">
            <ul style="padding-left: 10px">
              <li style="padding-top: 50px">✔</li>
              <li>✔</li>
              <li>✔</li>
              <li>✔</li>
              <li>✔</li>
              <li>✔</li>
              <li>✔</li>
              <li>✔</li>
              <li>✔</li>
              <li>✔</li>
              <li>✔</li>
            </ul>
          </div>
          <div class="btnn">
            <button>Get Stated</button>
          </div>
        </div>
        <div class="features">
          <p style="font-size: 25px; padding-left: 30px">Premium</p>
          <div class="item3">
            <ul style="padding-left: 10px">
              <li style="padding-top: 50px">✔</li>
              <li>✔</li>
              <li>✔</li>
              <li>✔</li>
              <li>✔</li>
              <li>✔</li>
              <li>✔</li>
              <li>✔</li>
              <li>✔</li>
              <li>✔</li>
              <li>✔</li>
            </ul>
          </div>
          <div class="btnn">
            <button>Get Stated</button>
          </div>
        </div>
        <div class="features">
          <p style="font-size: 25px; padding-left: 30px">Business</p>
          <div class="item3">
            <ul style="padding-left: 10px">
              <li style="padding-top: 50px">✔</li>
              <li>✔</li>
              <li>✔</li>
              <li>✔</li>
              <li>✔</li>
              <li>✔</li>
              <li>✔</li>
              <li>✔</li>
              <li>✔</li>
              <li>✔</li>
              <li>✔</li>
            </ul>
          </div>
          <div class="btnn">
            <button>Get Stated</button>
          </div>
        </div>
        <div class="features">
          <p style="font-size: 25px; padding-left: 25px">Enterprise</p>
          <div class="item3">
            <ul style="padding-left: 10px">
              <li style="padding-top: 50px">✔</li>
              <li>✔</li>
              <li>✔</li>
              <li>✔</li>
              <li>✔</li>
              <li>✔</li>
              <li>✔</li>
              <li>✔</li>
              <li>✔</li>
              <li>✔</li>
              <li>✔</li>
            </ul>
          </div>
          <div class="btnn">
            <button>Get Stated</button>
          </div>
        </div>
      </div>
    </div>
    <div class="more">
      <div class="media" style="width: 0; height: 0; padding-left: 250px">
        <img
          src="/img/att.bxsbX32NUVcLFDRr2v7d2QMJUozS3nGfnecwW4nECF4.jpg"
          alt=""
        />
      </div>

      <div class="note">
        <h1 style="padding-right: 450px">Learn more about Mockup for teams</h1>
      </div>
      <div class="intro">
        <p style="padding-top: 150px; padding-left: 970px">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore
        </p>
      </div>
    </div>
    <div class="footer">
      <div class="info" style="width: 0; height: 0">
        <h1>Huu Khang company</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>

      <div class="menu-item" style="padding-left: 600px">
        <h1>Product</h1>
        <ul>
          <li>Product1</li>
          <li>Product2</li>
          <li>Product3</li>
          <li>Product4</li>
        </ul>
      </div>
      <div class="menu-item" style="padding-left: 600px">
        <h1>Product</h1>
        <ul>
          <li>Product1</li>
          <li>Product2</li>
          <li>Product3</li>
          <li>Product4</li>
        </ul>
      </div>
      <div class="menu-item" style="padding-left: 600px">
        <h1>Product</h1>
        <ul>
          <li>Product1</li>
          <li>Product2</li>
          <li>Product3</li>
          <li>Product4</li>
        </ul>
      </div>
    </div>
  </body>
</html>
